{
  "printWidth": 80,
  "singleQuote": false,
  "trailingComma": "none",
  "overrides": [
    {
      "files": [".prettierrc", ".watchmanconfig"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
